@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
#root {
  height: 100%;
}
.zi_textoverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.floater_wrapper {
  opacity: 0;
  transform: translateY(10px);
  animation: 0.5s ease-in-out 0.08s 1 normal forwards running icontransition;
}
@keyframes icontransition {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
